{% extends 'base.html.twig' %}

{% block title %}Edit Logger{% endblock %}

{% block body %}
    <h1>Edit Logger</h1>

    {{ include('logger/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_logger_index') }}">back to list</a>

    {{ include('logger/_delete_form.html.twig') }}
{% endblock %}
