{% extends 'base.html.twig' %}

{% block title %}New Logger{% endblock %}

{% block body %}
    <h1>Create new Logger</h1>

    {{ include('logger/_form.html.twig') }}

    <a href="{{ path('app_logger_index') }}">back to list</a>
{% endblock %}
